<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.fitkitapp.fitkit">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="in.fitkitapp.fitkit.permission.C2D_MESSAGE" />

    <permission
        android:name="in.fitkitapp.fitkit.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/logof"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- GCM Listener Service -->
        <service
            android:name=".MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- GCM Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="in.fitkitapp.fitkit" />
            </intent-filter>
        </receiver>

        <!-- InstanceIDListenerService -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".MyGcmRegistrationService"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Workout"
            android:label="Near you"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Test"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Workout"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.fitkitapp.fitkit.Workout" />
        </activity>
        <activity
            android:name=".Unlimited"
            android:label="@string/title_activity_unlimited"
            android:parentActivityName=".Test"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.fitkitapp.fitkit.Test" />
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:parentActivityName=".Test"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.fitkitapp.fitkit.Test" />
        </activity>
        <activity
            android:name=".Monthly"
            android:label="@string/title_activity_monthly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.mixpanel.android.surveys.SurveyActivity" />
        <activity
            android:name=".Summary"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Myorders"
            android:label="My Passes"
            android:parentActivityName=".Test"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.fitkitapp.fitkit.Test" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider156938284712210"
            android:exported="true" />

        <receiver
            android:name="com.appvirality.android.AppviralityInstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SharingActivity"
            android:label="@string/title_activity_sharing"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>